<div class="content">
  <div class="titles">
    <div class="title-1">Refiable, efficiente delevery</div>
    <div class="title-2">Powered by Tecnology</div>
    <div class="title-3">
      Our Artificial intelligence powered tools use millions of project data
      points to ensure that your project is successful
    </div>
  </div>

  <div  class="cards">
    <div class="card-content">
      <div class="card left">
        <div class="card-title">Supervisor</div>
        <div class="card-text"> Monitors activity to identify project roadblocks</div>
        <div class="card-img"><img src="/assets/images/icon-supervisor.svg" alt=""></div>
      </div>
      </div>
    <div class="card-content">
      <div class="card up">
        <div class="card-title">Team Builder</div>
        <div class="card-text"> Scans out talent network to create the optimal team for you project</div>
        <div class="card-img"><img src="/assets/images/icon-team-builder.svg" alt=""></div>
      </div>
      <div class="card dwn">
        <div class="card-title">Karma</div>
        <div class="card-text"> Regularly evaluates our talent ensure quality</div>
        <div class="card-img"><img src="/assets/images/icon-karma.svg" alt=""></div>
      </div>
    </div>
    <div class="card-content">
        <div class="card rigth">
          <div class="card-title">Calulator</div>
          <div class="card-text"> Uses data form projects to provide better delevery estimates</div>
          <div class="card-img"><img src="/assets/images/icon-calculator.svg" alt=""></div>
        </div>  
    </div>

  </div>

</div>
