.content {
    width: 1440px;
    height: 100%;
}

.titles {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-1 {
        color: var(--neutral-very-dark-blue);
        font-size: 1.875rem;
        font-weight: 200;
    }

    .title-2 {
        color: var(--neutral-very-dark-blue);
        font-size: 2.188rem;
        font-weight: 600;
    }

    .title-3 {
        color: var(--neutral-grayish-blue);
        margin-top: 10px;
        font-size: 0.875rem;
        font-weight: 200;
        width: 500px;
        text-align: center;
    }
}

/* organizacion de las  cards */
.cards {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
       

        .left {
            border-top:5px solid var(--primary-cyan);
        }

        .rigth {
            border-top:5px solid var(--primary-blue);
        }

        .up {
            border-top:5px solid var(--primary-red);
        }

        .dwn {
            border-top:5px solid var(--primary-orange);
        }
    }

    .card-title{

        font-size: 16px;
        font-weight: 600;
        color: var(--neutral-very-dark-blue);
        margin: 20px 0px 0px 20px;
 
    }

    .card-text{
       
        font-size: 12px;
        font-weight: 200;
        color: var(--neutral-grayish-blue);
        margin: 10px 0px 0px 20px;
        width: 250px;
    }

    .card-img{
        text-align: right;
        margin: 20px 0px 0px 20px;
        width: 250px;
    }

    /* Ancho de las cards */
    .card {
        
        width: 300px;
        height: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 5px 1px 15px 1px var(--neutral-grayish-blue);
    }
}


@media (max-width: 375px) {
    /* … */
    .content {
        width: 375px;
        height: 100%;
    }

    .titles {
        text-align: center;
        .title-3 {
            border: 1px solid coral;
            width: 300px;
            height:auto ;
        }
    }

    .cards {
        margin-top: 220px;
        display: flex;
        flex-direction: column;

    }


  }