/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;800&family=Poppins:wght@200;400;600&family=Roboto&display=swap');
/* Se definen los colores principales de la aplicacion */
:root {

    /* Primary Colors */
     --primary-red: hsl(0, 78%, 62%); 
     --primary-cyan:hsl(180, 62%, 55%);
     --primary-orange:hsl(34, 97%, 64%);
     --primary-blue:hsl(212, 86%, 64%);

    /* Neutral Colors */
     --neutral-very-dark-blue:hsl(234, 12%, 34%);
     --neutral-grayish-blue:hsl(229, 6%, 66%);
     --neutral-very-ligth-gray:hsl(0, 0%, 98%);
    }

body{
   font-size: 15px;
   font-family: Poppins;
}